# Configuration for the Flatcar VM, with support for terraform template substitution.
#
# see
#   - https://coreos.github.io/butane/config-flatcar-v1_1/
#   - https://coreos.github.io/butane/config-flatcar-v1_0/
#   - https://coreos.github.io/butane/
#
version: 1.1.0
variant: flatcar

passwd:
  users:
    - name: core
      ssh_authorized_keys:
        - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFkyaM9D4TtCOSdIR8JvH5DCt0UHbfPGx7VlSJrP593N greg-ed25519

    # The build agent runs as uid/gid 1001:1001, so create a user make that readable
    # for file ownerships. The build agent must have access to the docker socket.
    #
    # Note: Historically the build agent ran with uid/gid 1000:1000
    - name: tcuser
      uid: 1001
      primary_group: tcuser
      groups:
        - docker
      no_create_home: true

  groups:
    - name: tcuser
      gid: 1001

storage:
  disks:
    # Partition the ZFS sparse zvol with a GPT, with a single swap partition
    #
    # see:
    #   - https://docs.docker.com/config/containers/resource_constraints/
    - device: /dev/vdb
      wipe_table: false
      partitions:
        - label: swap
          wipe_partition_entry: false
          type_guid: 0657FD6D-A4AB-43C4-84E5-0933C84B4F4F # see https://en.wikipedia.org/wiki/GUID_Partition_Table

    # Partition the sparse ZFS zvol with a GPT, with a single partition
    - device: /dev/vdc
      wipe_table: false
      partitions:
        - label: buildagent
          number: 1
          wipe_partition_entry: false

  filesystems:
    - device: /dev/disk/by-partlabel/swap
      format: swap
      wipe_filesystem: true
      label: swap
      with_mount_unit: true

    - device: /dev/disk/by-partlabel/buildagent
      path: /opt/buildagent
      format: ext4
      wipe_filesystem: true
      label: buildagent
      with_mount_unit: true

  directories:
    - path: /opt/buildagent
      mode: 0750
      user:
        name: tcuser
      group:
        name: tcuser
    - path: /opt/buildagent/system
      mode: 0750
      user:
        name: tcuser
      group:
        name: tcuser
    - path: /opt/buildagent/work
      mode: 0750
      user:
        name: tcuser
      group:
        name: tcuser
    - path: /opt/buildagent/temp
      mode: 0750
      user:
        name: tcuser
      group:
        name: tcuser
    - path: /opt/buildagent/tools
      mode: 0750
      user:
        name: tcuser
      group:
        name: tcuser
    - path: /opt/buildagent/plugins
      mode: 0750
      user:
        name: tcuser
      group:
        name: tcuser
    - path: /opt/buildagent/logs
      mode: 0750
      user:
        name: tcuser
      group:
        name: tcuser

  files:
    - path: /etc/hostname
      mode: 0644
      contents:
        inline: ${vm_name}

    - path: /etc/systemd/network/10-eth0.network
      contents:
        inline: |
          [Match]
          Name=eth0
          
          [Link]
          MTUBytes=9000

          [Network]
          Address=10.20.20.${4 + vm_index}/24
          Gateway=10.20.20.1
          IPv6AcceptRA=yes
  
          DNS=fd0c:898b:471c:2::5
          DNS=10.20.2.5
          DNS=10.20.0.1
          DNS=fd0c:898b:471c:c::2
          
          NTP=0.ntp.lucidsolutions.co.nz
          NTP=1.ntp.lucidsolutions.co.nz
          NTP=2.ntp.lucidsolutions.co.nz
  
          [IPv6AcceptRA]
          Token=static:::${4 + vm_index}

    # Locks down the ssh daemon.
    #
    # see:
    #  - https://www.flatcar.org/docs/latest/setup/security/customizing-sshd/
    - path: /etc/ssh/sshd_config
      overwrite: true
      mode: 0600
      contents:
        local: sshd_config


systemd:

  # Systemd service for Jetbrains Teamcity Build Agent.
  #
  # This will run the teamcity agent container directly with `docker run` (i.e. this
  # service doesn't use or require docker compose).
  #
  # WARNING: This inline systemd service file has line continuation characters (backslash)
  # which are not parsed correctly if this is a local content file. So it is expressed here
  # inline.
  #
  # This file will be written as `/etc/systemd/system/teamcity-agent.service`, by the ignition
  # script which can be read at `/sys/firmware/qemu_fw_cfg/by_name/opt/org.flatcar-linux/config/raw`.
  #
  # see:
  #  - https://github.com/JetBrains/teamcity-docker-samples
  #  - https://github.com/JetBrains/teamcity-docker-images/blob/master/dockerhub/teamcity-agent/README.md
  #  - https://hub.docker.com/r/jetbrains/teamcity-agent
  #  - https://hub.docker.com/r/jetbrains/teamcity-minimal-agent/
  #  - https://github.com/JetBrains/teamcity-docker-images
  #  - https://www.jetbrains.com/help/teamcity/configure-agent-installation.html#General+Agent+Configuration
  #  - https://www.jetbrains.com/help/teamcity/agent-docker-images.html
  units:
    - name: teamcity-agent.service
      enabled: true
      contents: |
        [Unit]
        Description=TeamCity Build Agent
        After=docker.service
        Requires=docker.service
        
        [Service]
        KillMode=process
        TimeoutStopSec=20
        
        #
        # === Pull and clean up ===
        ExecStartPre=-/usr/bin/docker pull "${TEAMCITY_IMAGE}"
        ExecStartPre=-/usr/bin/docker stop teamcity-agent
        ExecStartPre=-/usr/bin/docker rm -f teamcity-agent
        
        # === Run container ===
        #
        # The agent is running with host networking. However build agent workloads
        # run with docker networking (and NAT). Some build agent workloads run
        # with the option `--network=host` so they also run on the hosts network.
        # The teamcity 'docker-compose' build runner always runs on its own network
        # so they require non-host networking.
        #
        # The Flatcar VM uses GID=233 for docker, whereas the Agent container uses GID=999
        # for the docker group. Add the Flatcar VM group id to the agent user (UID=1000)
        #
        # Use 'docker-out-of-docker' to run docker workloads within the Teamcity build
        # agent - i.e. use the host Flatcar docker
        #
        # Generating a token for auto-registration is harder than it should be, but the
        # terraform has captured doing this with a long lived admin token to issue
        # a build agent token.
        #
        # see:
        #  - https://github.com/matt-richardson/TeamCityAgentAutoRegisterPlugin
        #  - https://serverfault.com/questions/690685/automatically-authorize-teamcity-agents
        #  - https://plugins.jetbrains.com/plugin/8998-agent-token-authorize
        #  - https://plugins.jetbrains.com/plugin/13105-agent-auto-add-remove
        #  - https://docs.docker.com/compose/compose-file/compose-file-v2/#group_add
        #
        ExecStart=/usr/bin/docker run --rm \
          --name=teamcity-agent \
          --network host \
          --group-add 233 \
          -e SERVER_URL="${TEAMCITY_SERVER_URL}" \
          -e AGENT_NAME="${TEAMCITY_AGENT_NAME}" \
          -e AGENT_TOKEN="${TEAMCITY_AGENT_TOKEN}" \
          -e TEAMCITY_DOCKER_NETWORK=host \
          -e TZ="${TEAMCITY_TZ}" \
          -v /var/run/docker.sock:/var/run/docker.sock \
          -v /opt/buildagent/work:/opt/buildagent/work \
          -v /opt/buildagent/temp:/opt/buildagent/temp \
          -v /opt/buildagent/tools:/opt/buildagent/tools \
          -v /opt/buildagent/plugins:/opt/buildagent/plugins \
          -v /opt/buildagent/system:/opt/buildagent/system \
          -v /opt/buildagent/logs:/opt/buildagent/logs \
          "${TEAMCITY_IMAGE}"
        ExecStop=-/usr/bin/docker rm -f teamcity-agent
                
        # Restart on failure (like compose's unless-stopped)
        Restart=on-failure
        RestartSec=10
        #
        # Ensure logs go through journald
        # StandardOutput=journal
        # StandardError=journal
        
        [Install]
        WantedBy=multi-user.target

