---
# Docker compose for Jetbrains Teamcity Build Agent
#
# see:
#  - https://github.com/JetBrains/teamcity-docker-samples
#  - https://hub.docker.com/r/jetbrains/teamcity-agent
#  - https://hub.docker.com/r/jetbrains/teamcity-minimal-agent/
#  - https://github.com/JetBrains/teamcity-docker-images
#  - https://www.jetbrains.com/help/teamcity/configure-agent-installation.html#General+Agent+Configuration
version: "2.1"
services:
  teamcity:
    image: jetbrains/teamcity-agent:2023.05.4

    # The agent is running with host networking. However build agent workloads
    # run with docker networking (and NAT). Some build agent workloads run
    # with the option `--network=host` so they also run on the hosts network.
    # The teamcity 'docker-compose' build runner always runs on its own network
    # so they require non-host networking.
    network_mode: host
    group_add:
      # The Flatcar VM uses GID=233 for docker, whereas the Agent container uses GID=999
      # for the docker group. Add the Flatcar VM group id to the agent user (UID=1000)
      #
      # see:
      #  - https://docs.docker.com/compose/compose-file/compose-file-v2/#group_add
      - "233"
    environment:
      - SERVER_URL=https://teamcity.lucidsolutions.co.nz
      - xAGENT_NAME=${vm_name}

      # Generating a token for auto-regististration is harder than it should be.
      # see:
      #  - https://github.com/matt-richardson/TeamCityAgentAutoRegisterPlugin
      #  - https://serverfault.com/questions/690685/automatically-authorize-teamcity-agents
      #  - https://plugins.jetbrains.com/plugin/8998-agent-token-authorize
      #  - https://plugins.jetbrains.com/plugin/13105-agent-auto-add-remove
      - xAGENT_TOKEN=TODO
      - TEAMCITY_DOCKER_NETWORK=host
      - TZ=Pacific/Auckland
    ports:
      - "8111:8111"
    volumes:
      # Use 'docker-out-of-docker' - i.e. use the host Flatcar docker
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "/opt/buildagent/work:/opt/buildagent/work"
      - "/opt/buildagent/temp:/opt/buildagent/temp"
      - "/opt/buildagent/tools:/opt/buildagent/tools"
      - "/opt/buildagent/plugins:/opt/buildagent/plugins"
      - "/opt/buildagent/system:/opt/buildagent/system"
    restart: unless-stopped
